body{
    background-color: lightgoldenrodyellow;
}
.nineteen-nineteen-two{
  border-radius: 20px;
  height: 250px;
  
}
.school-for-good-and-evil{
    border-radius: 20px;
    height: 250px;

}
para1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.search-movie{
    margin: 0;
    padding: 5px;
    width: 200px;
    
}
.search1{
    outline: none;
    border: 2px solid transparent;
    color: grey;
    background-color: rgb(200, 200, 200);
    padding: 5px;
    cursor: pointer;
    animation: borderGlow 4s linear infinite;
    box-sizing: border-box;
    overflow: visible;
    @keyframes borderGlow {
        0%{
            background-position:0%;
        }
        100%{
            background-position:200%
        }
    }
}